<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
        <%= render 'users/complete_button' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
      <section>
        <%= render 'tasks/task_list' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>投稿一覧</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="big-bg">
  <div class="right">
  <h1>こっそり努力をしませんか？</h1>
  <h2>
    目標を持って努力したい人々で集まって共に高め合いましょう。
    <br>SHUGYOはあなたの成長をお手伝い致します。　　　　　　　　
  </h2>
  <div class="left">
  <p><%= link_to "早速使ってみる", signup_path, class: "btn btn-lg btn-primary " %></p>
  <p><%= link_to "ログイン", login_path, class: "btn btn-lg btn-outline-primary" %></p>
  </div>
  </div>
</div>
<% end %>
