<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
        <%= render 'users/complete_button' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
      <section>
        <%= render 'tasks/task_list' %>
        <%= link_to 'テスト' , controller: :users, action: :congratulations %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>投稿一覧</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="toppicture">
  <div class="right">
  <h1>こっそり努力をしませんか？</h1>
  <h2>
    目標を持って努力したい人々で集まって共に高め合いましょう。
    <br>SHUGYOはあなたの成長をお手伝いする隠れ家です。　　　　　　　
  </h2>
  <p><%= link_to "早速使ってみる", signup_path, class: "btn btn-lg btn-success " %></p>
  <p>すでにアカウントをお持ちの方は→<%= link_to "ログイン", login_path, class: "btn btn-lg btn-outline-primary" %></p>
  </div>
</div>
<div class="top-appeal-sentence">
<h1>SHUGYOがあなたに提供できること</h1>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
<% end %>
