
<h1><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<span>目標：<%= current_user.goal %></span>
<span>一言：<%= current_user.message %></span>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>