<header class="navbar navbar-default navbar-inverse">
  <div class="container ">
    <%= link_to "SHUGYO", root_path , id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right ">
      <% if logged_in? %>
        <li><%= link_to "プロフィール編集", edit_user_path(current_user) %></li>
        <li><%= link_to "ユーザー一覧", users_path %></li>
        <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "ログイン", login_path %></li>  
      <% end %> 
      </ul>
    </nav>
  </div>
</header>